<?xml version="1.0"?>
<configuration>    
  <connectionStrings>
    
    <add name="sqlCS_IST" connectionString="Data Source=10.226.15.60,1521\SQLUAT;Initial Catalog=BNYMTRS_IST;User ID=BNYMTRS;Password=Bn1m@T00W"/>
    <add name="sqlCS_UAT" connectionString="Data Source=10.226.15.60,1521\SQLUAT;Initial Catalog=BNYMTRS;User ID=BNYMTRS;Password=Bn1m@T00W"/>
    <add name="sqlCS_PROD" connectionString="Data Source=172.18.100.152,1521\SQLUAT;Initial Catalog=BNYMCOMP_DNN;User ID=BNYM_PROD;Password=BNY#1Prod;Connection Timeout=120"/>
  </connectionStrings>
  <appSettings>
    
    <add key="splitBy" value="|"/>
    
 
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
